@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
    scroll-behavior: smooth;
    color: #AFB3BD;
}

body {
	background-color: #282A32;
	font-size: 16px;
    font-family: "Montserrat", sans-serif; 
}

ul{
    padding: 0;
}


/* /////////// igor bayerl /////////// */

.profile{
    height: 100vh;
}

#profile-img{
    width: 100vw;
}

#name-title {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    animation: text-down 2s ease forwards 3s;
}

#name-title path:nth-child(2) {
    stroke-dasharray: 230px;
    stroke-dashoffset: 230px;
    animation: line-anim 2s ease forwards;
}
#name-title path:nth-child(3) {
    stroke-dasharray: 532px;
    stroke-dashoffset: 532px;
    animation: line-anim 2s ease forwards 0.3s;
}
#name-title path:nth-child(4) {
    stroke-dasharray: 257px;
    stroke-dashoffset: 257px;
    animation: line-anim 2s ease forwards 0.6s;
}
#name-title path:nth-child(5) {
    stroke-dasharray: 252px;
    stroke-dashoffset: 252px;
    animation: line-anim 2s ease forwards 0.9s;
}
#name-title path:nth-child(6) {
    stroke-dasharray: 332px;
    stroke-dashoffset: 332px;
    animation: line-anim 2s ease forwards 1.2s;
}
#name-title path:nth-child(7) {
    stroke-dasharray: 332px;
    stroke-dashoffset: 332px;
    animation: line-anim 2s ease forwards 1.5s;
}
#name-title path:nth-child(8) {
    stroke-dasharray: 432px;
    stroke-dashoffset: 432px;
    animation: line-anim 2s ease forwards 1.8s;
}
#name-title path:nth-child(9) {
    stroke-dasharray: 388px;
    stroke-dashoffset: 388px;
    animation: line-anim 2s ease forwards 2.1s;
}
#name-title path:nth-child(10) {
    stroke-dasharray: 252px;
    stroke-dashoffset: 252px;
    animation: line-anim 2s ease forwards 2.4s;
}
#name-title path:nth-child(11) {
    stroke-dasharray: 240px;
    stroke-dashoffset: 240px;
    animation: line-anim 2s ease forwards 2.7s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}




/* ///////////////////////////////// */

a{
    color: #AFB3BD; 
    text-decoration: none;
}

li {
    list-style: none;
}


/* ////////////// Foto ///////////// */


.profile-photo {
    border-radius: 50%;
    width: 35vw;
    opacity: 0;
    z-index: -1;
    animation: photo-apear 2s ease forwards 3s;
    position: absolute;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    
}

@keyframes photo-apear {
    to {
        opacity: 0.6;
    }
}

@keyframes text-down {
    to {
        top: 63%;
        left: 50%;
    }
}


@media(max-width: 800px){


}


/* ////////////////// Menu ///////////////// */
@keyframes summon-menu {
    to {
        opacity: 1;
        bottom: 0;
    }
}


.header {
    width: 100%;
    height: 80px;
    position: fixed;
    padding-bottom: 15px;
    bottom: -100px;
    animation: summon-menu 2s ease forwards 3s
    
    
}

.header-menu ul{
    padding: 15px 0 25px 0;
    display: flex;
    
    width: 70%;
    height: 60px;

    align-items: center;
    background-color: #383A41;
    justify-content: space-around;
    border-radius: 15px 15px 0 0;
    margin: 0 auto 0 auto;
    box-shadow: 0px 7px 13px 1px rgba(0,0,0,0.25);
}

.header-menu ul a {
    
    height: 65px;
    align-items: center;
    border-radius: 15px;
    width: 65px;
    margin: 20px 0 20px 0;
    background-color: rgb(73, 75, 80);
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 7px 13px 1px rgba(0,0,0,0.25);
}
.header-menu ul a i{
    position: relative;
    font-size: 25px;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, 80%);
    transition: all 0.2s ease-in-out;

   
}
.header-menu ul a div{
    text-align: center;
    font-size: 12px;
    opacity: 0;
    top: 0;
    position: relative;
    transition: all 0.2s ease-in-out;

    
}

.header-menu ul a:hover{
    border-radius: 50%;
    background-color: #7F8289;
    cursor: pointer;
}
.header-menu ul a:hover i{
    transform: translate(-50%, -50%);
}
.header-menu ul a:hover div{
    opacity: 1;
}




/* ////////////////// about ///////////////// */


.about {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.about-box {
    margin-left: auto;
    margin-right: auto;
    background-color: #383A41;
    height: 30em;
    width: 50em;
    border-radius: 15px;
}
/* ////////////////// skills ///////////////// */

#section-skills {
    /* height: 100vh; */
    width: 100%;
    display: flex;
    align-items: center;
}

#skills__box {
    background-color: #383A41;
    width: 100%;
    margin: 3vh 7vw;
    border-radius: 15px;
}

.skills__header{
    width: 100%;
    /* height: 10vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills__conteudo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.skills__about-me{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.skills__bars{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.skills__about-me p{
    text-align: center;
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 8px;
}

.skills__about-me img{
    width: 25vw;
    border-radius: 50%;
}


.skills__bars li{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #7F8289;
}

.max_skill{
    width: 100%;
    
}
/* skills */

#skill_1{
    background-color:#AFB3BD;
    width: 90%;
    height: 100%;
    text-align: right;
}

#skill_2{
    background-color:#AFB3BD;
    width: 90%;
    height: 100%;
    text-align: right;
}

#skill_3{
    background-color:#AFB3BD;
    width: 50%;
    height: 100%;
    text-align: right;
}

#skill_4{
    background-color: #AFB3BD;
    width: 45%;
    height: 100%;
    text-align: right;
}

#skill_5{
    background-color:#AFB3BD;
    width: 60%;
    height: 100%;
    text-align: right;
}

#skill_6{
    background-color:#AFB3BD;
    width: 95%;
    height: 100%;
    text-align: right;
}

#skill_7{
    background-color:#AFB3BD;
    width: 80%;
    height: 100%;
    text-align: right;
}
#skill_8{
    background-color:#AFB3BD;
    width: 80%;
    height: 100%;
    text-align: right;
}
/* ////////////////////////////////////// */

.skill_bar {
    display: flex;
    align-items: center;
}
.skill_bar p{
    width: 120px;
    margin: 0 5px 0 0;
    color: #282A32;
}

.skills__header-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.skills__header-item i{
    margin-top: 25px;
    padding: 10px;
    font-size: 70px;
}

.skills__header-item p{
    padding: 10px;
    font-size: 20px;
}


/* ////////////////// portifolio ///////////////// */
#section-portifolio {
    
    width: 100%;
    padding-top: 30px;
}

.portifolio-title{
    background-color: #383A41;
    padding: 15px;
    margin: 15px 7vw;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

.portifolio-title h1{
    
    margin: 0;
    padding: 0;
}


.container {
    background-color: #383A41;
    margin: 15px 7vw;
    border-radius: 15px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    height: 480px;
    width: 200px;
    padding: 0;
    background-color: #282A32;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card__titulo{
    font-weight: bold;
    margin-top: 10px;
}

.card__capa img{
    
    width: 90%;
    border-radius: 15px;
    padding: 10px;        
    
}





.card__body{
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 90%;
    font-size: 12px;
}

.card__body a{
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.card__body a:hover{
    color: yellowgreen;
    font-weight: bold;
}


/* ////////////////// contact ///////////////// */


.contact{
    height: 100vh;
    width: 100%;
    
}

.contact-title {
    height: 50px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    pointer-events: none;
}

.contact__interesses-box {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}


.interesses{
       
    padding: 10px;
    margin-top: 20vh  ;
    width: 30vw;
    height: 40vh;
    pointer-events: none;
}

.contact-box {
    margin-top: 15vh  ;
    width: 35vw;
    height: 50vh;
    
}


.input__contact__box {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 100%;
    min-width: 100%;
    border-radius: 15px;
    background-color: #7F8289;
    border-style: none;
    outline: 0;
}

.input__contact__box::-webkit-input-placeholder {
    color: #383A41;
 }


 #msg {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    min-width: 100%;
    border-style: none;
    max-height: 300px;
    min-height: 300px;
    border-radius: 15px;
    background-color: #7F8289;
    outline: 0;
    
} 
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    

}

#contact_submit_button{
   
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 50%;
    min-width: 50%;
    border-style: none;
    border-radius: 15px;
    background-color: rgb(81, 83, 88);
    outline: 0;
    transition: all 0.2s ease-in-out;
}
#contact_submit_button:hover{
   
    background-color: #383A41;
}


.footer-social {
    padding: 0;
    margin: 20px 0;
}

.footer-social a{
    font-size: 30px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0;
    transition: all 0.2s ease-in-out;
}

.footer-social a:hover{
    color: #282A32;
    
}

.contacts ul{
    display: flex;
    flex-direction: column;
    background-color: #383A41;
    align-items: flex-start;
    border-radius: 15px;
    padding: 20px;
    
}

.contacts a{
    font-size: 40px;
    display: flex;
    margin: 15px;
    transition: all 0.2s ease-in-out;
}
.contacts i{
    font-size: 40px;
    display: flex;
    margin: 15px;
    transition: all 0.2s ease-in-out;
}

.contacts a:hover{
    color: #282A32;
    
}

.contacts p{
    font-size: 12px;
    padding: 15px;
    margin: 0;
    
    font-family: "Montserrat", sans-serif;
}

/* /////////////////////////////////////////////////////// */

.mobile__footer {
    pointer-events: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    opacity: 1;
}

.mobile__footer {
    pointer-events: all;
    padding: 0;
    display: flex;
    justify-content: space-around;
    opacity: 1;
}
.mobile__footer-social {
    padding: 0;
    display: flex;
    justify-content: space-between;

    
}
.mobile__footer-social a{
    padding: 0 15px ;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
}

.mobile__footer-social a:hover{
    color: rgb(73, 76, 87);
    
}


@media screen and (max-width: 950px) {
    #name-title{
        width: 70%;
    }

    .header {
        width: 100%;
        height: 80px;
        padding-bottom: 15px;
        bottom: 0;
    }
    
    .header-menu ul{
        
        width: 100%;
        height: 60px;
    
    }
    
    .header-menu ul a {
        
        height: 50px;
        width: 50px;
    }
    .header-menu ul a i{
        font-size: 29px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 40%);
        transition: all 0.2s ease-in-out;
    
       
    }
    .header-menu ul a div{
        font-size: 10px;
        top: -10px;        
    }
    

    /* ////////////////////////////////////////////// */

    #profile-img svg{
        width: 70vw;
    }

    #name-title {
        position: absolute;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        animation: text-down 2s ease forwards 3s;
    }


    .profile-photo {
        width: 75vw;
        top: 40vh;
        left: 50vw;
        transform: translate(-50%, -50%);
    }


    /* ////////////////// contact ///////////////// */

    .contact{
        margin-top: 15px;
        height: 140vh;
        width: 100%;
    
    }

    .contact-title {
        height: 30px;
        font-size: 18px;
        align-items: center;
        margin-bottom:30px ;
    }

    .contact__interesses-box {
        margin-top: 2vh;
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 15px;
        margin-bottom: 5vh;
    }

    .interesses{
        padding: 10px;
        margin-top: 100px  ;
        width: 80vw;
        height: 20vh;
    }

    .contact-box {
        margin-top: 2vh  ;
        width: 80vw;
        height: 800vh;
    }

    /* .contact-box-inputs {
        margin-top: 5vh;
    } */

    /* .input__contact__box {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        max-width: 100%;
        min-width: 100%;
        border-radius: 15px;
        background-color: #7F8289;
        border-style: none;
        outline: 0;
    } */

    #msg {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 100%;
        min-width: 100%;
        max-height: 30vh;
        min-height: 30vh;
    
    }

    footer{
        opacity: 0;
        pointer-events: none;
    }

    



    .skills__conteudo{
        flex-direction: column;
        font-size: 10;
        
    }

    .skills__about-me{
        width: 80%;
    }
    
    
    .skills__bars{
        width: 90%;
    }

    .skills__header-item i{
        margin-top: 15px;
        font-size: 40px;
    }
    .skills__header-item p{
        padding: 10px;
        font-size: 12px;
    }
    
}



